@import "settings";

$border-radius: 4px;
$border-color: rgba(0, 0, 0, 0.8);
$background-color: $light-green;
$color-lightness: 5%;
$selected-background-color: $light-yellow;
$text-align: center;
$text-color: $dark-blue;

@mixin text($color: $text-color, $align: $text-align) {
    font-size: 14px;
    font-weight: bold;
    color: $color;
    text-align: $align;
    letter-spacing: 1px;
}

@mixin button() {
    @include text($align: center);

    background: $background-color;
    border: none;
    border-radius: $border-radius;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
    padding: 10px 20px;

    &:focus,
    &:active {
        background: $selected-background-color;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        background: #95a5a6;
    }

    &:last-child {
        margin-right: 0;
    }
}

@mixin button--active($background-color: $selected-background-color) {
    &,
    &:hover,
    &:active {
        background: $background-color;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
    }
    /* For IE 6/7 (trigger hasLayout) */
    & {
        zoom:1;
    }
}

@mixin text-input {
    @include text($align: left);
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}
