@import "mixins";

html {
    height: 100%;
}

body {
    color: $text-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}

.wrapper {
    max-width: 320px;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    text-align: center;
}

h2 {
    font-size: 16px;
    text-align: center;
}

dd {
    @include clearfix();
    margin: 0;
}

/**************
 * Form fields
 **************/
[type="radio"] {
    display: none;
}

[type="radio"] + label {
    @include button();

    width: 30%;
    margin-right: 5%;

    &:last-child {
        margin-right: 0;
    }
}

[type="radio"]:checked + label {
    @include button--active();

    &:last-child {
        margin-right: 0;
    }
}

[type="submit"] {
    @include button();
    margin-top: 20px;
    width: 100%;
}

[type="text"] {
    @include text-input();
}

/**************
 * Result list
 **************/
.result-list {
    border-spacing: 0;
    width: 100%;
}

.result-list__row:nth-child(2n) {
    background-color: #2ecc71;
}

.result-list__row:nth-child(2n+1) {
    background-color: #27ae60;
}

.result-list__header,
.result-list__entry {
    color: #fff;
    font-weight: bold;
    padding: 8px 4px;
    text-align: center;
    letter-spacing: 1px;
}

/**************
 * Messages
 **************/
.message {
    $height: 50px;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    height: 50%;
    line-height: $height;
    text-align: center;
}

.message--success {
    background: #0c0;
}

.message--error {
    background: #c00;
}

.message__container {
    @include text(#333, center);
    margin-top: 10%;
    font-size: 2em;
}
